*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gainsboro;
    padding: 3.125em;
    display: flex;
    flex-wrap: wrap;
}

.bloque{
    background-color: white;
    padding-bottom: 0.313em;
    border-radius: 0.313em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 85.438em;
}

.ventas-sucursal{
    width: 49%;
    margin-right: 2%;
}

.reportes{
    width: 49%;
}

.reportes p{
    display: inline-block;
    font-size: 0.875em;
    font-family: Arial, Helvetica, sans-serif;
    color: #0b525b;
    margin: 0em 1.25em 1.25em 2.5em;
}

.reportes span{
    font-size: 0.875em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #0b525b;
    margin: 0em 1.25em 1.25em 0.625em;
}

.ventas{
    max-width: 85.438em;
    width: 100%;
    margin-top: 2%;
}

.encabezado{
    display: flex;
    justify-content: space-between;
    border-radius: 0.313em 0.313em 0em 0em;
    padding: 1.25em 1.875em 1.25em 1.875em;
    margin-bottom: 0.625em;
    background-color: #0b525b;
}

.reportes .encabezado{
    margin-bottom: 2.813em;
}

#btn-nueva-venta{
    background-color: #6bb359;
    border: none;
    border-radius: 0.313em;
    font-weight: bold;
    color: white;
    font-size: 0.813em;
    padding: 0.438em;
    cursor: pointer;
}

#btn-nueva-venta:hover{
    background-color: #7ccf67;
}

#btn-nueva-venta>i{
    padding-right: 0.438em;
    font-size: 0.813em;
}

.ventas-sucursal h1, .reportes h1, .ventas h1, .modal h1{
    font-size: 1.25em;
    font-family: Arial, Helvetica, sans-serif;  
    color: white;
}

.bloque .tabla{
    margin: 1.25em 2em;
}

.scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.tabla thead>tr>th{
    border-collapse: collapse;
    border-bottom: 0.063em solid gainsboro;
    padding-bottom: 0.313em;
    text-align: left;
    font-size: 0.875em;
    font-family: Arial, Helvetica, sans-serif;
    color: #0b525b;
}

.tabla tbody>tr>td{
    border-collapse: collapse;
    border-bottom: 0.063em solid gainsboro;
    padding-bottom: 0.313em;
    padding-top: 0.625em;
    text-align: left;
    font-size: 0.875em;
    font-family: Arial, Helvetica, sans-serif;
    color: #0b525b;
}

.vps>thead>tr>th:first-child{
    padding-right: 14em;
}

.vps>thead>tr>th:nth-child(2){
    padding-right: 14em;
}

.vt>thead>tr>th:first-child{
    padding-right: 6em;
}

.vt>thead>tr>th:nth-child(2){
    padding-right: 6em;
}

.vt>thead>tr>th:nth-child(3){
    padding-right: 6.5em;
}

.vt>thead>tr>th:nth-child(4){
    padding-right: 25em;
}

.vt>thead>tr>th:nth-child(5){
    padding-right: 7em;
}

.vt>thead>tr>th:last-child{
    padding-right: 4.5em;
}

.icono{
    margin-left: 0.313em;
    margin-right: 1.25em;
    font-size: 1.063em;
    cursor: pointer;
}

.btn-editar{
    color: #6bb359;
}

.btn-eliminar{
    color: rgb(235, 10, 10);
}

/****************************
MODALES
*****************************/

.modal-container{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}

.modal{
    background-color: white;
    border-radius: 0.313em;
    margin: 3% auto;
    width: 25%;
}

.modal form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal form>label {
    margin: 0em 1.25em 0.625em 1.25em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #0b525b;
    font-weight: bold;
}

.modal>h2{
    margin: 1.563em 1.25em 2.188em 1.25em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #0b525b;
    font-weight: bold;
}

.modal p{
    margin: -0.938em 1.25em 1.25em 1.25em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
}

.modal form>select, .modal form>input[type="date"]{
    margin: 0em 1.25em 1.25em 1.25em;
    height: 1.875em;
}

.modal form>.opcion-multiple{
    height: 3.75em;
}

.modal .footer{
    background-color: lightgrey;
    margin-top: 1.25em;
    padding: 1.25em;
    text-align: right;
}

.modal .footer input[type="submit"]{
    padding: 0.375em;
    margin-left: 0.625em;
    border: none;
    border-radius: 0.313em;
    cursor: pointer;
}

.modal .footer input[type="submit"][class="guardar"]{
    background-color: #6bb359;
    color: white;
    font-weight: bold;
}

.modal .footer input[type="submit"][class="guardar"]:hover{
    background-color: #7ccf67;
}

.modal .footer input[type="submit"][class="cancelar"]{
    color: rgb(58, 57, 57);
    background-color: white;
}

.modal .footer input[type="submit"][class="cancelar"]:hover{
    background-color: rgb(228, 224, 224);
}

.modal .footer input[type="submit"][class="eliminar"]{
    background-color: rgb(235, 10, 10);
    color: white;
    font-weight: bold;
}

.modal .footer input[type="submit"][class="eliminar"]:hover{
    background-color: rgb(243, 4, 4);
}

@media(max-width: 850px){
    .container{
        flex-direction: column;
        align-items:center;
    }
    .ventas-sucursal{
        width: 80%;
        margin-bottom: 1.25em;
        margin-right: 0%;
    }
    .reportes{
        width: 80%;
        margin-bottom: 1em;
    }
}
